.vs/
.svn/
ClassModel/bin/
ClassModel/obj/
DashBoardService/bin/
DashBoardService/obj/
GatewayApi/bin/
GatewayApi/obj/
ServerConvert/bin/
ServerConvert/obj/
Testing/bin/
Testing/obj/
TestingListening/bin/
TestingListening/obj/

